#revwr {
  all:initial;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

#revwr * {
  all:unset;
  display: block;
}

#revwr #side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background-color: #1e1e1e;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 9999999999;
  color: white;
}

#revwr #parse-button,
#revwr #explain-all-button {
  background-color: #2e2e2e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

#revwr #parse-button:hover,
#revwr #explain-all-button:hover {
  background-color: #3e3e3e;
}

#revwr #close-button {
  position: absolute;
  background-color: #2e2e2e;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
}

#revwr #close-button:hover {
  background-color: #3e3e3e;
}

#revwr #parse-button:focus,
#revwr #explain-all-button:focus {
  outline: none;
}

#revwr .resize-handle {
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  z-index: 1;
  background-color: #2e2e2e;
}

#revwr #parsed-lines {
  margin-top: 20px;
}

#revwr .file-container {
  margin-bottom: 20px;
}

#revwr h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

#revwr .file-contents {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 4px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#revwr .explanation {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #3e3e3e;
  border-radius: 4px;
}

#revwr .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#revwr .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

#revwr .spinner div {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 2px;
  animation: dots 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

#revwr .spinner div:nth-child(2) {
  animation-delay: -0.4s;
}

#revwr .spinner div:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes dots {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0;
  }
  30%, 50% {
    transform: scale(1);
    opacity: 1;
  }
}
