#revwr {
  all: initial;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

#revwr * {
  all: reset;
}

#revwr pre {
  display: block;
}

#revwr ul,
#revwr ol {
  margin-left: 1.2em;
}

#revwr pre,
#revwr code {
  white-space: break-spaces;
  background-color: #8e8e8e36;
  padding: 0.2em 0.4em;
  margin: 0px;
  border-radius: 6px;
}

#revwr code {
  font-size: 0.8em;
}

#revwr pre > code {
  font-size: 1em;
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#revwr #side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background-color: #1e1e1e;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 9999999999;
  color: white;
}

#revwr #side-panel.expanded {
  overflow: hidden;
}

#revwr #parse-button,
#revwr #explain-all-button {
  background-color: #2e2e2e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

#revwr #parse-button:hover,
#revwr #explain-all-button:hover {
  background-color: #3e3e3e;
}

#revwr #close-button {
  position: absolute;
  background-color: #2e2e2e;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  cursor: pointer;
  text-align: center;
}

#revwr #close-button:hover {
  background-color: #3e3e3e;
}

#revwr #parse-button:focus,
#revwr #explain-all-button:focus {
  outline: none;
}

#revwr .resize-handle {
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  z-index: 1;
  background-color: #2e2e2e;
}

#revwr #parsed-lines {
  margin-top: 20px;
}

#revwr .file-container {
  background-color: #1e1e1e;
  display: flex;
  flex-flow: column;
}

#revwr .file-container.expanded {
  position: absolute;
  padding: 0 20px;
  height: 100vh;
  left: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 10;
}

#revwr h3 {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

#revwr .file-contents {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 4px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#revwr .explanation {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #3e3e3e;
  border-radius: 4px;
}

#revwr .explain-button {
  background-color: #2e2e2e;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

#revwr .explain-button:hover {
  background-color: #3e3e3e;
}

#revwr .explain-button:focus {
  outline: none;
}

#revwr .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#revwr .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

#revwr .spinner div {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 2px;
  animation: dots 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

#revwr .spinner div:nth-child(2) {
  animation-delay: -0.4s;
}

#revwr .spinner div:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes dots {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0;
  }

  30%,
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

#revwr .chat-container {
  margin-top: 10px;
}

#revwr .chat-messages {
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
  background-color: #3e3e3e;
  border-radius: 4px;
  flex: 1;
}

#revwr .file-container.expanded .chat-messages {
  max-height: initial;
}

#revwr #chat-form {
  display: flex;
  margin-top: 10px;
}

#revwr .chat-input {
  flex-grow: 1;
  padding: 5px 10px;
  background-color: #2e2e2e;
  border: none;
  color: white;
  border-radius: 4px;
  margin-bottom: 5px;
}

#revwr #send-button {
  background-color: #2e2e2e;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

#revwr #send-button:hover {
  background-color: #3e3e3e;
}

#revwr #send-button:focus {
  outline: none;
}

#revwr .message {
  display: block;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow-x: scroll;
}

#revwr .user-message {
  background-color: #4e4e4e;
  margin: 1rem 1rem 1rem auto;
  max-width: 80%;
}

#revwr .assistant-message {
  background-color: #2e2e2e;
  max-width: 80%;
}

#revwr .expand-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  float: initial;
  font-size: 14px;
  transform: rotate(90deg);
  padding: 5px;
}

#revwr .file-container.expanded .expand-icon {
  transform: rotate(-90deg);
}
